$color-white: #ffffff;
$color-black: #000000;
$color-gray-1x: #f4f4f4;
$color-gray-2x: #e3e3e3;
$color-gray-3x: #828282;

$color-toast-info: #0173b4;
$color-toast-warning: #e4c630;
$color-toast-error: #cc2944;
$color-toast-success: #56b89d;
$color-toast-title: $color-black;
$color-toast-message: $color-gray-3x;
